# Supabase configuration
VITE_SUPABASE_URL=your-project-url
VITE_SUPABASE_ANON_KEY=your-anon-key

# Environnement (development, testing, production)
VITE_APP_ENV=development

# Vercel configuration
VERCEL_TOKEN=your-vercel-token
VERCEL_ORG_ID=your-org-id
VERCEL_PROJECT_ID=your-project-id

# Autres configurations
NODE_ENV=development 